// Variables
$maincolor: #FF6060;
$backgroundcolor: #F6F6F6;


html{
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    size: 24px;
    line-height: 34px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    width: 1240px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 15px;
    img {
        height: 41px;
        width: 123px;
        margin: auto;
    }
    div {
        color: #fff;
        text-align: center;
    }
}

h1 {
    color: white;
    font-size: 48px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    a {
        color: $maincolor;
        padding-left: 40px;
        text-decoration: none;
    }

}

.hero {
    height: 223px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./hero-home.webp");
    background-position: center;
    margin-top: 20px;
}

.error {
    h1 {
        font-size: 288px;
        text-align: center;
        color: $maincolor;
    }
    h2 {
        color: $maincolor;
        text-align: center;
    }
    #home-link {
        width: 400px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
        a {
        color: $maincolor;
        }
    }
}

#block-home{
    background-color: $backgroundcolor;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
   .row {
    display: flex;
    flex-wrap: wrap;
    }

    .col-33{
        width: 33.33% !important;
        aspect-ratio: 1/1;
        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            width: 100%;
            border-radius: 10px;
        }
        div{
            display: flex;
            align-items: end;
            padding: 15px;
        }
        h2 {
            position: absolute;
            max-width: 15%;
            color: #fff;
            font-size: 18px;
            padding-left: 15px;
        }
    }
    .pl-10{
        padding-left: 10px;
    }
    .pr-10{
        padding-right: 10px;
    }
 
}

#block-home {
  .home {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: $backgroundcolor;
        border-radius: 10px;
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        .home__card {
            display: flex;
            align-items: end;
            height: 340px;
            width: 340px;
            background-color: $maincolor;
            border-radius: 10px;
            margin: 15px;
        }
        h2 {
            color: #fff;
            font-size: 18px;
            padding-left: 15px;
        }
    }
}  

.block-logement {
    .carousel {
        position: relative;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 415px;
        .arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            color: red;
        }
        .arrow:hover {
            cursor: grab;
        }
        .arrow-left {
            left: 20px;
            height: 30%;
            width: 50px;
        }
        .arrow-right {
            right: 20px;
            height: 30%;
            width: 50px;
        }
        .slide {
            border-radius: 25px;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        .slide-hidden {
            display: none;
        }
        .paginations {
            display: flex;
            position: absolute;
            bottom: 10px;
            .pagination {
                color: #fff;
                font-size: 18px;
            }
            .pagination-inactive {
                display: none;
            }
        }
    }
    .logement-infos {
        color: $maincolor;
        display: flex;
        justify-content: space-between;
        .logement-title {
            h2 {
                margin-bottom: 0px;
            }
        }
        .logement-contact {
            display: flex;
            align-items: center;
            div {
                margin-right: 10px;
            }
            img {
                width: 70px;
                height: 70px;
                border: none;
                border-radius: 35px;
            }
        }

    }
    .facets-rating {
        ul {
            list-style-type: none;
            display: flex;
            padding-left: 0px;
            li {
                background-color: $maincolor;
                color: #fff;
                padding: 0px 20px;
                border-radius: 10px;
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }
    .logement-details {
        display: flex;
        justify-content: space-between;
        
    }
}
.drawer-block-closed {
    width: 45%;
    margin-bottom: 30px;
    .drawer-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: $maincolor;
        border-radius: 10px;
        h3 {
        color: #fff;
        padding-left: 10px;
        }
        img {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    .drawer-content {
        color: $maincolor;
        padding: 0 10px 0 10px;
        background-color: #F6F6F6;
        border-radius: 0 0 10px 10px;
        position: relative;
        top: -200%;
        z-index: -2;
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
    }
    .drawer-content-mask {
        position: relative;
        top: -100%;
        height: 100%;
        background-color: #fff;
        z-index: -1;
        // clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, -100% 0, -50% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%); 
    }
}
.drawer-block-open {
    width: 45%;
    margin-bottom: 30px;
    .drawer-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: $maincolor;
        border-radius: 10px;
        h3 {
        color: #fff;
        padding-left: 10px;
        }
        img {
            padding-right: 10px;
            padding-left: 10px;
            animation-delay: 250ms;
            transition-duration: 500ms;
            transform: rotate(-180deg);
        }
    }
    .drawer-content {
        color: $maincolor;
        padding: 0 10px 0 10px;
        background-color: #F6F6F6;
        border-radius: 0 0 10px 10px;
        position: relative;
        transition-duration: 500ms;
        top: -100%;
        z-index: -2;
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
    }
    .drawer-content-mask {
        position: relative;
        top: -100%;
        height: 100%;
        background-color: #fff;
        z-index: -1;
        // position: relative;
        // top: -100%;
        // clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, -100% 0, -50% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%); 
    }
}
